
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
#IntelliJ IDEA project files
.idea/
*.iml
*.ipr
*.iws
out/

#Android auto gen files
bin/
gen/
local.properties
default.properties


#gradle / Android Stuido build folders
build/

# OS auto gen folder information
.DS_Store
Thumbs.db

#temp files
*.bak
*.tmp
*.temp
*.swp
*.vpp~*
*.*~
~*.*
